.my-back-button {
    content: url('http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/black-ink-grunge-stamps-textures-icons-arrows/003683-black-ink-grunge-stamp-textures-icon-arrows-double-arrowhead-left.png');
    width: 48px;
    }
    .item-background-color{
        --ion-item-background:#015f01d5;
    }