ion-content {
    --background: rgb(247 255 255) ;
  }
  .box {
    border-color: #403E39;
    border-width: 1px;
    border-style: solid;
    border-radius: 1px;
    --background: white;
    
}
.para{
    margin-left: 15px;
    margin-bottom: -7px;
}
.button-verify{
  text-transform: capitalize;
  --background: #067678;
  display: block;
  margin-top: 10%;
}
.input-margin{
  padding: 15px;
  
}
.error-message{
    color: red;
    font-size: 0.8rem;
    margin-left: 15px;
}