ion-content {
    --background: rgb(247 255 255) ;
  }
  .button-verify{
    text-transform: capitalize;
    --background: #067678;
    display: block;
   // margin-top: 10%;
 //  padding: ;
 margin: 38px 38px 0px 38px;
}
.para-header{
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.5rem;
  font-weight: bold;
}




